client/client.pro.user
client/release/client.exe
client/release/main.o
client/release/mainwindow.o
client/release/moc_mainwindow.cpp
client/release/moc_mainwindow.o
client/release/qrc_pictures.cpp
client/release/qrc_pictures.o
serverGUI/serverGUI.pro.user
serverGUI/release/main.o
serverGUI/release/mainwindow.o
serverGUI/release/moc_mainwindow.cpp
serverGUI/release/moc_mainwindow.o
serverGUI/release/moc_server.cpp
serverGUI/release/moc_server.o
serverGUI/release/qrc_pictures.cpp
serverGUI/release/qrc_pictures.o
serverGUI/release/server.o
